# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
